# Global match
*/*.elf
*/*.o
*/*.dbg
*/*.nes

# Root directories
build
bin

# Editors files
.vscode
*.sublime-workspace

# utils/ines/header autotests configuration files
utils/ines/header/tests/cases/*/nsk_header_config.inc
# utils/ines/header autotests object files
utils/ines/header/tests/cases/*/*.o
# utils/ines/header autotests binary files
utils/ines/header/tests/cases/*/*.nes
# utils/ines/header autotests debug files
utils/ines/header/tests/cases/*/*.dbg

# utils/ines/header examples build directory
utils/ines/header/examples/*/bin
# utils/ines/header examples binary files
utils/ines/header/examples/*/*.nes
# utils/ines/header examples debug files
utils/ines/header/examples/*/*.dbg
